.marginBottom {
  margin-bottom: 0.5vh;
}

.reactRotate {
  animation: 6s rotate linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .fontSmallReactNative {
    font-size: 30px;
  }
  .fontSmall {
    font-size: 20px;
  }
  .iconSize {
    width: 45px;
    height: 45px;
  }
  .iconSizeHorizontal {
    width: 56px;
    height: 30px;
  }
}

@media (max-width: 768px) {
  .fontSmall {
    font-size: 10px;
  }
  .iconSize {
    width: 45px;
    height: 45px;
  }
  .iconSizeHorizontal {
    width: 56px;
    height: 30px;
  }
}
