.graphics_engine {
  animation: logspin 1.5s linear infinite, logglow 1.25s ease infinite alternate;
  transition: 1s;
  &[data-state="DEFAULT"] {
    :nth-child(1) {
      d: path("M34.5 214.5l66-115 64 69.5 72-126L325 214.5 392 81");
    }
    :nth-child(2) {
      d: path(
        "M24 122l74.5 82.5L159 111l40 31.5L255.5 55 320 173l17-18 27 49.5 29-39.5"
      );
    }
  }
  &[data-state="ACTIVE"] {
    :nth-child(1) {
      d: path(
        "M21 103.5L59 161L95.5 128.5L145 178L216.5 38.5L247.5 117.5L289.5 92L330.5 151L386 73"
      );
    }
    :nth-child(2) {
      d: path(
        "M24 165L76 103L122.5 113L149 67L195.5 147L257.5 67L314 165L330.5 113L358 196.5L387 157"
      );
    }
  }
}

.graphs {
  display: block;
  fill: none;
  transition: all 4s;
  //   path {
  //   }
}

@keyframes logglow {
  100% {
    box-shadow: 0 0 8px 4px var(--glow-color);
  }
}
