.menuOffSet {
  position: relative;
}

.menuInView {
  position: -webkit-fixed; /* Safari */
  position: fixed;
  top: 0;
}

.menuOverView {
  position: relative;
}

.transition {
  transition: fill 0.5s ease-in-out;
}

.fillCircle {
  fill: #fff;
  cursor: alias;
}

.textColor {
  cursor: pointer;
  fill: #fff;
}

.circleColorHover {
  cursor: pointer;
  fill: #006918;
}

@media (min-width: 768px) {
  .svgSizeFull {
    /* top: 0.05%; */
    width: 95vh;
    height: 95vh;
  }
}

@media (max-width: 768px) {
  .svgSizeFull {
    /* top: 0.05%; */
    width: 95vw;
    height: 95vw;
  }

  .divSvgSize {
    height: 190vw;
  }
}
