.squaresHeight {
  height: 30vh;
}

.imgPersonDiv {
  /* margin-top: 100px; */
  /* height: 85vh; */
  overflow-y: hidden;
}

.imgPersonDiv img {
  /* height: 85vh; */
  /* object-fit: cover; */
  object-fit: contain;
  /* padding-bottom: 2.2%; */
}

.btnSize {
  width: 100px;
}

.backgroundHeaderDiv {
  background-color: black;
  height: 30vh;
  width: 100vw;
}

@media (max-width: 768px) {
  .hiddeElementOnMob {
    visibility: hidden;
  }
  .showElementOnMob {
    visibility: visible;
  }
  .backgroundBlack {
    background-color: black;
  }
  .blackTagHeader {
    height: 45vh;
    width: 100vw;
  }
}

@media (min-width: 768px) {
  .hiddeElementOnMob {
    visibility: visible;
  }
  .showElementOnMob {
    display: none;
  }
  .headerdiv {
    height: 100vh;
  }
  .blackTagHeader {
    height: 55vh;
    width: 100vw;
  }
}
